# Example of use of `BabN` class

Taken from [Duncan J. Melville: Reciprocals and Reciprocal algorithms in Mesopotamian Mathematics (2005)](https://www.researchgate.net/publication/237309438_RECIPROCALS_AND_RECIPROCAL_ALGORITHMS_IN_MESOPOTAMIAN_MATHEMATICS)

* Example 1: from Table 2. Simple Reciprocal algorithm
* Example 2: from Table 3. using "The Technique"

## Example 1: Searching the reciprocal of 2:5  according to D. J. Melville (2005)

from Table 2. Simple Reciprocal algorithm

In [1]:
from mesomath.babn import BabN


d1 = BabN("2:5")
r1 = d1.tail()
r2 = r1.rec()
r3 = d1 * r2
r4 = r3.rec()
r5 = r4 * r2

print(f"{d1 = }")
print(f"{r1 = }")
print(f"{r2 = }")
print(f"{r3 = }")
print(f"{r4 = }")
print(f"{r5 = }\n")

print(f"Result: {r5 = }\n")

d1 = 2:5
r1 = 5
r2 = 12
r3 = 25:0
r4 = 2:24
r5 = 28:48

Result: r5 = 28:48

In [2]:
print(f"\nTesting: {d1 * r5 = }")

Testing: d1 * r5 = 1:0:0:0

## Example 2: from Table 3. using *The Technique*

In [3]:
r1 = d1.tail()
r2 = r1.rec()
r3 = d1.head() * r2
r4 = r3 + BabN(1)
r5 = r4.rec()
r6 = r5 * r2

print(f"{d1 = }")
print(f"{r1 = }")
print(f"{r2 = }")
print(f"{r3 = }")
print(f"{r4 = }")
print(f"{r5 = }")
print(f"{r6 = }")


print(f"\nResult: {r6 = }")

d1 = 2:5
r1 = 5
r2 = 12
r3 = 24
r4 = 25
r5 = 2:24
r6 = 28:48

Result: r6 = 28:48

In [4]:
print(f"\nTesting: {d1 * r6 = }")

Testing: d1 * r6 = 1:0:0:0